<h3>View Visitor Details</h3>

<div>
    <div>
        <label><b>Visitor Name: </b></label> {{visitor.visitorName}}
    </div>
    <div>
        <label><b>Visitor Address: </b></label> {{visitor.visitorAddress}}
    </div>
    <div>
        <label><b>Contractors: </b></label> {{visitor.contractors}}
    </div>
    <div>
        <label><b>Purpose: </b></label> {{visitor.vistingPurpose}}
    </div>
    <div>
        <label><b>Phone: </b></label> {{visitor.phone}}
    </div>
    <div>
        <label><b>Entry Time: </b></label> {{visitor.visitorEntryTime}}
    </div>
    <div>
        <label><b>Outing Time: </b></label> {{visitor.visitorOutingTime}}
    </div>
</div>