<h2>Visitor List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Visitor Name </th>
            <th> Visitor Address </th>
            <th> Contractors </th>
            <th> Visting Purpose </th>
            <th> Phone   </th>
            <th> Visitor Entry Time </th>
            <th> Visitor Outing Time </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let visitor of visitors">
            <!-- <td> {{visitor.id}} </td> -->
            <td> {{visitor.visitorName}} </td>
            <td> {{visitor.visitorAddress}} </td>
            <td> {{visitor.contractors}} </td>
            <td> {{visitor.vistingPurpose}} </td>
            <td> {{visitor.phone}} </td>
            <td> {{visitor.visitorEntryTime}} </td>
            <td> {{visitor.visitorOutingTime}} </td>

            <td>
                <button (click)="updateVisitors(visitor.id)" class="btn btn-info" > Update </button>
                <button (click)="deleteVisitors(visitor.id)" class="btn btn-danger" style="margin-left: 10px"> Delete </button>
                <button (click)="visitorDetails(visitor.id)" class="btn btn-info" style="margin-top: 10px"> View </button>
            </td>
        </tr>
    </tbody>

    
</table>